<div class="center">
  <h2>Want to add a publication?</h2>
  <div id="PublicationForm" data-googleApiLink='/search/test/' data-submitPath="<% submitPath %>">
    <%- include('_form') %>
  </div>
</div>