<div class="main">
  <div class="center">
    <div>
      <p class="slogan">
        Get new stuff <br/>
        With your old stuff!
      </p>
    </div>
    <div id="logo" class="center">
      <img src="<%= assetPath('logo.svg') %>">
    </div>
    <div id="main-buttons">
        <button class="button primary" onclick="window.location.href='/users'">Sign Up</button>
        <button class="button" onclick="window.location.href='/users'">Sign In</button>
    </div>
  </div>
</div>