<div>
  <form action="<%= submitPath %>" method="post">
    <% if (!trade.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
    <label for=id_request>
      <span>ID Request</span>
      <input type="text" name="id_request" id="id_request" value="<%= trade.id_request %>" />
    </label>
    <label for="state">
      <span>State</span>
      <input type="text" name="state" id="state" value="<%= trade.state %>"/>
    </label>
    <div class="actions">
      <input type="submit" value="<%= trade.isNewRecord ? 'Create' : 'Edit' %>" />
    </div>
  </form>
</div>