<% if (locals.error) { %>
  <div class="alert_notice" >
    <div class="alert_i">
      <img class="infoimg" src="https://storage.googleapis.com/webcitos_images/information.png"/>
    </div>
    <div class="alert_info">
      <p><%= error %></p>
    </div>
    <div class="alert_x">
      <i class="far fa-times-circle"></i>
    </div>
  </div>
<% } %>

<div class="col-2"></div>
  <div class="col-8">
      <div class="row">
        <h2><p class="center">Welcome back!</p></h2>
        <form class="center" action="<%= submitPath %>" method="post">
          <input type="hidden" name="_method" value="put" />
          <label for="email">
            <span>E-mail</span><br/>
            <input class="form-centered" type="email" name="email" id="email" value="<%= locals.email %>" />
          </label> <br/>
          <label for="password">
            <span>Password</span><br/>
            <input class="form-centered" type="password" name="password" id="password" />
          </label>
          <div class="actions">
            <input class="form-centered" id="button-form" type="submit" value="Sign in" />
          </div>
        </form>
        <p class="center">New here? <a href="/users/new">Sign Up</a></p>
      </div>
  </div>
<div class="col-2"></div>