div.card{
    border: 1px;
    border-color: grey;
    border-radius: 4px;
    padding: 6px;
    background-color: #e0e0e0;
    margin: 4px;
}

div.card .card-image{
    display: inline-block;
    max-height: 100px;
    max-width: 100px;
    padding-right: 4px;
}

div.card .card-contex{
    display: inline-block;
    overflow: auto;
}

div.card-contex .card-header{
    text-overflow: clip;
    position: relative;
    top: 0px;
}

div.card-contex .card-content{
    text-overflow: clip;
}

div.card-contex .card-footer{
    text-overflow: clip;
    position: relative;
    bottom: 0px;
}

.card-footer p{
    display: inline-block;
}

.card-footer span{
    color: #db5449;
    font-weight: bold;
}

.card-footer span:hover{
    color: #a32021;
}

.card-footer ul{
    display: inline-block;
}

.card-footer ul li{
    display: inline-block;
}

.card-group .card{
    display: inline-block;
    padding: 10px;
    width: 40%;
    min-width: 300px;
}

.card-group .card:hover{
    background-color: #e9d4d2;
}