div.card{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #2c3e50;
    border: 1px;
    border-color: grey;
    border-radius: 10px;
    padding: 6px;
    background-color: #e0e0e0;
    margin: 4px;
    z-index: -1;
    box-sizing: unset;
    width: 100%;
    a {
      text-decoration: none;
    }
}

div.card .card-image{
    display: inline-block;
    max-height: 100px;
    max-width: 100px;
    padding-right: 4px;
}

div.card .card-image.header{
    max-width: 100%;
    overflow: hidden;
    max-height: 200px;
    text-align: center;
}

div.card .card-context{
    border-radius: 10px;
    overflow: auto;
}

div.card-context .card-header{
    text-overflow: clip;
    position: relative;
    top: 0px;
}

div.card-context .card-content{
    text-overflow: clip;
}

div.card-context .card-footer{
    text-overflow: clip;
    position: relative;
    bottom: 0px;
}

.card-footer p{
    display: inline-block;
}

.card-footer span{
    color: #db5449;
    font-weight: bold;
}

.card-footer span:hover{
    color: #a32021;
    text-decoration: none;
}

.card-footer ul{
    display: inline-block;
}

.card-footer ul li{
    display: inline-block;
}

.card-group {
}

.card-group .card{
    display: inline-block;
    height: 250px;
    border-radius: 10px;
    box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(255,255,255,0.8);
}

.card-group .card:hover{
    box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.card-group .card .card-image{
    position: relative;
    float: left;

}

.card-group .card .card-context .card-header{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%;
}

.card-group .card .card-context .card-content{
    height: 100px;
    text-overflow: ellipsis;
}

.card-group .card-footer ul{
    position: relative;
    float: right;
    padding: 0px;
}

.card-footer ul li form.form-inline {
    padding: 0px;
}
