body {
  margin: 0;
  margin-top: 120px;
  padding: 0px;
  font-size: 100%;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
}

/*info*/
div.info{
  border-radius: 2px;

  background-color: rgba(255, 255, 255, 0.5);
}

div.info p{
  padding: 10px;
  margin: 5px;
}

/*ref menu*/
#begin{
  background-color: #37B9A2;
  border-radius: 2px;
  padding: 5px;
}

#begin a{
  text-decoration: none;
  color: white;
  margin: 2px;
}

#begin:hover{
  background-color: #0AC251;
}

ul.ref-menu {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #db5449;
  border-radius: 5px;
}

ul.ref-menu li {
    display: inline-block;
    float: none;
}

ul.ref-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.ref-menu li a:hover:not(.active) {
    background-color: #ff8575;
}

ul.ref-menu li a.active{
  background-color: #a32021;
  color: black;
}

ul.ref-menu li.right {
  float: right;
}

pre {
  border:1px solid #A2A2A2;
  background-color:#F1F1F1;
  padding:8px;
  margin:5px;
  color:#0150c7;
  overflow:auto
}

iframe{
  display: none;
}

/* Menu */
ul.topbar {
    list-style-type: none;
    margin-top: 56px;
    padding: 0;
    overflow: hidden;
    background-color: #db5449;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

ul.topbar li {
    float: left;
}

ul.topbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topbar li a:hover:not(.active) {
    background-color: #ff8575;
}

ul.topbar li a.active{
  background-color: #db5449;
  color: black;
}

ul.topbar li.right {
  float: right;
}

@media screen and (max-width: 600px){
    ul.topbar {display: none;}
    div.container{text-align: center;}
}

/* Form */
input, select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

.center input.form-centered{
  width: 100%;
}

#button-form {
  color: white;
  font-weight: bold;
}

input[type=hidden] {
  display: none;
}

input[type=submit] {
    width: 77.8px;
    background-color: #db5449;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: width 2s;
    transition: width 2s;
}

input[type=submit]:hover {
    background-color: #a32021;
    color: white;
    /*width: 90px;*/
}

form {
  border-radius: 3px;
  background-color: #f2f2f2;
  padding: 20px;
  align-items: center;
}

#console{
  width: 325px;
}
/*logo*/
div.logo-container{
  top: 0;
  width: 100%;
  padding: 15px;
  padding-bottom: 17px;
  text-align: left;
  color: white;
  border-radius: 0px;
  background-color: #f2f2f2;
  font-size: 130%;
  /*font-family: 'Roboto'*/;
  position: fixed;
  transition: 1s;
  z-index: 1;
}

a.logo{
  text-decoration: none;
  color: black;
}

a.logo:hover{
  text-decoration: none;
  color: #db5449;
}

span.Music{
  color: #db5449;
}

/*
table, td, th {
    border: 1px solid black;
}
*/

/*tablas*/
div.table {
  padding: 5px;
  align-self: center;
  width: 100%;
}

table {
    /*border-collapse: collapse;*/
    border-radius: 2px;
    width: 75%;
    padding: 10px;
    background-color: white;
}

th {
    height: 50px;
}

th, td{
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

tr {
  background-color: #f7f7f7;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

tr:hover {
  background-color: #7f7f81;
  color: white;
}

th {
    border-radius: 4px;
    background-color: #db5449;
    color: white;
}

/*Circle*/

.circle{
  width: 22.5px;
  height: 45px;
  opacity: 0.6;
  position: fixed;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 45px;
  background-color: black;
}

/*Arrow*/

i.arrowr  {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*Sidebar*/

#right-arrow{
  transition: 1s;
  display: none;
}

#side-open{
  color: white;
  opacity: 0.8;
  float: left;
  width: 47px;
  height: 47px;
  align-content: center;
}

#side-open:hover{
  background-color: #ff8575;
}

img.side-menu{
  opacity: 0.6;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  width: 45px;
  height: 45px;
}

.center-arrow {
  margin: auto;
  margin-top: 25%;
  width: 50%;
  vertical-align: middle;
  display: block;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: left;
  color: #2c3e50;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 56px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 60px;
  transition: 1s;
  max-width: 170px;
}

.sidenav a.side{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 1s;
}

.sidenav a.side:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
}

#main{
  transition: 1s;
  padding: 10px;
}

.center .arrow{
  margin-top: 50%;
  margin-left:0;
}

table ul li form{
  padding: 0px;

}

table ul li form input[type="submit"]{
  margin: 0px;
}

a {
  text-decoration-color: #db5449;
  color: inherit;
}

a:hover{
  text-decoration-color: #a32021;
}

a:focus{
  color: #ff8575;
  text-decoration-color: #ff8575;
}

span.badge{
  padding: 4px;
  border-radius: 4px;
}

span.badge.primary{
  background-color: #db5449;
}

span.badge.primary:hover{
  background-color: #ff8575;
}

a.badge-link{
  padding: 4px;
  border-radius: 8px;
  background-color: #b6b6b6;
}

a.badge-link:hover{
  background-color: #c2c2c2;
}

a.badge-link.primary{
  background-color: #db5449;
}

a.badge-link.primary:hover{
  background-color: #ff8575;
}

a.badge-link{
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 600px){
    div.container{text-align: center;}
    form{align-items: center;}
    #console{width: 100%; margin-right: 10px;}
    input[type=submit]{width: 100%;}
    input[type=text], select{width: 100%;}
    table{width: 100%;}
    #side-open{display: none;}
    .sidenav {padding-top: 15px; max-width: none;}
    .sidenav a.side {font-size: 18px;}
    #right-arrow{display: block;}
}
