@import './fardust'; /* Base CSS style */
@import './layout';
@import './hello';
@import './card';
@import './grid';

li {
  list-style-type: none;
}

.content {
  background-color: rgba($color: white, $alpha: 0.6);
  border-radius: 2px;
  padding: 15px 20px;
}

.tag {
  padding-top: 8px;
}

p.center {
  text-align: center;
}

[class*=h].centered-header{
  text-align: center;
}

p.slogan{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo {
  text-align: center;
}

#logo img {
  width: 75%;
  max-width: 300px;
}

.button{
  background-color: transparent;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.55px;
  line-height: 24px;
  text-transform: uppercase;
  color: #db5449;
  fill: #db5449;
  border-width: 1px;
  border-image: initial;
  border-radius: 4px;
  text-decoration: none;
  padding: 3px 16px;
  border-color: #db5449 #db5449;
}

.button:hover{
  color: #a32021;
  fill: #a32021;
  border-color: #a32021;
}

.button.primary{
  background-color: #db5449;
  color: black;
  fill: black;
  border-color: #db5449
}

.button.primary:hover{
  background-color: #a32021;
  color: white;
  fill: white;
  border-color: #a32021;
}

#main-buttons {
  text-align: center;
}

#main-buttons button{
  width: 30%;
}

.container {
  padding: 10px;
  background: #ececec
}

@media screen and (max-width: 800px){
  .center {
    width: 75%;
  }
}

@media screen and (max-width: 600px){
  .center {
    width: 100%;
  }
}