/*index*/

.products {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.pcard {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.box {
  border-radius: 10px;
  padding: 18px;
  width: 25vw;
  height: 50vh;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  background-color: rgba(255,255,255,0.8);
  margin: 2px;
  text-decoration: none;
}

.box h4 {
  text-align: left;
}

.box p {
  text-align: left;
}

.box span {
  font-weight: bold;
  text-align: left;
}

.imgcard {
  max-height: 50%;
  max-width: 80%;
  margin: 0 auto;
}

.stateimg {
  max-height: 12vh;
  max-width: 2vw;
}

/*show*/

.pcard_show {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin: 20 auto;
}

.box_show_1 {
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
  margin: 15px;
  width: 46vw;
}

.box_show_1 h2 {
  text-align: left;
}

.box_show_1 h3 {
  text-align: left;
}

.box_show_1 p {
  text-align: left;
}

.box_show_2 {
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(255,255,255,0.8);
  margin: 15px;
  width: 46vw;
}

.box_show_2 h2 {
  text-align: left;
}

.imgcard_show {
  max-height: 50vh;
  max-width: 40vw;
  margin: 0;
}

#features{
  text-align: left;
}

#mouse :hover {
  box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.box > img.imgcard {
  text-align: center;
  max-height: 30%;
}

.box >  p:nth-child(3) {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.pcard > .box > p:nth-child(4){
  position: sticky;
  top: 100%;
}
