.form-button{
  /* CSS code for topbar form */
  padding: 0px;
  align-items: unset;
}

.form-button input[type=submit]{
  padding: 14px 16px;
  width: 100%;
  margin: 0px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  color: #2c3e50;
  font-weight: bold;
  font-size: 100%;
}

ul li .form-button input[type=submit]:hover{
  padding: 14px 16px;
  width: unset;
  margin: 0px;
  border-bottom: 2px solid #db5449; 
}

ul li.functional{
  float: right;
}


.form-inline{
  background-color: transparent;
  padding: 0px;
  align-items: unset;
}

.form-inline input{
  border-radius: 15px;
  border: 1px;
  border-color: #ff8575;
  padding: 5px;
  width: unset;
  margin: 0px;
  display: inline-block;
  max-width: 190px;
  min-width: 100px;
}

.form-inline input::placeholder {
  color: #8f8f8f;
  padding-left: 4px;
}

.form-inline :focus {
  outline: 0;
  border-color: #a32021;
}

ul li .form-inline{
  padding: 10px 4px 6px 4px;
}

.form-inline input[type=submit]{
  display: none;
}

.topbar i.fa-clipboard {
  font-size: 19px;
}

.logo-navbar {
  background-image: url('https://storage.googleapis.com/webcitos_images/logo.svg');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 50% 4px;
  height: 45px;
  width: 45px;
}

.logo-a {
  display: block;
  text-decoration: none;
  height: 45px;
  width: 45px;
}

.logo-navbar a.logo-a:hover:not(.active) {
  border-bottom: 0px solid white; 
}

.alert_notice {
  margin: 30px 20px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
  background: white;
  width: 25%;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
}

.error_notice {
  margin: 30px 20px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
  background: white;
  width: 40%;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
}

.alert_i{
  width: 20%;
}

.alert_info{
  width: 75%;
}

.alert_x{
  width: 5%;
}

.infoimg {
  max-height: 12vh;
  max-width: 2vw;
  margin: 10px;
}

.far.fa-times-circle{
  top: 15%;
}

input[type="file"]{
    border-width: 1px;
    border-radius: 4px;
    border-color: #db5449;
}

input[type="file"]:focus{
  outline-color: #a32021;
  outline-width: 2px;
}