#user-profile {
  display: flex;
  height: auto;
  position: fixed;
  text-align: center;
  justify-content: center;
}

#right {
  float: right;
}

.infotag {
  text-align: left;
  padding: 5px;
  font-weight: bold;
}
