<div class="summary">
  <h2>Summary</h2>
  <div class="row content">
    <div class="col-12">
      <h3>Comments</h3>
    </div>
    <div class="col-12">
      <span class="badge primary">#N</span> Unanswered questions
    </div>
    <div class="col-12">
      <h3>Trades</h3>
    </div>
    <div class="col-12">
      <span class="badge primary"><%= statics.exchange.active %></span> Active
    </div>
    <div class="col-12">
      <span class="badge primary"><%= statics.exchange.ended %></span> Ended
    </div>
    <div class="col-12">
        <h3>Gifts</h3>
    </div>
    <div class="col-12">
      <span class="badge primary"><%= statics.gift.active %></span> Active
    </div>
    <div class="col-12">
      <span class="badge primary"><%= statics.gift.ended %></span> Ended
    </div>
  </div>
</div>
