<% if (locals.errors) { %>
  <div class="error_notice" >
    <div class="alert_i">
      <img class="infoimg" src="https://storage.googleapis.com/webcitos_images/information.png"/>
    </div>
    <div>
      <p>You must correct the following errors to continue:</p>
      <% Object.keys(errors).forEach(prop => { %>
        <p><%= prop %>: <%= errors[prop].message %></p>
      <% }) %>
    </div>
  </div>
<% } %>

<div class="col-2"></div>
  <div class="col-8">
      <div class="row">
        <h2><p class="center">Welcome to the TradeAway App!</p></h2>
        <p class="center">
            The App that helps you trade the stuff that you
            don't need for stuff that you want! <br> <br> <br>
            Please, fill in your data to create your account:
        </p>
        <%- include('_form') %>
      </div>
  </div>
<div class="col-2"></div>